.notebook {

  &-content {
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    overflow: auto;
    transition: all .3s ease;
  }
}

@media(max-width: 767px) {

  .notebook {

    &-content {
      padding: 20px;
      margin-top: 80px;
    }
  }
}