.notebook {

  &-content {
    width: -webkit-fill-available;
    height: 100%;
    padding: 15px 50px;
    box-sizing: border-box;
    overflow: auto;
    transition: all .3s ease;
  }
}

@media(max-width: 767px) {

  .notebook {

    &-content {
      width: 100%;
      padding: 100px 15px 15px 15px;
    }
  }
}