.categories-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;

  &:not(:last-child) {
    border-bottom: solid #cecece 1px;
  }

  &__title {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
  }

  &__category {
    position: relative;
    width: 50%;
    padding-left: 40px;
    text-decoration: none;

    &:before {
      position: absolute;
      top: -2px;
      left: 0;
      width: 25px;
      height: 25px;
      background-image: url("../../assets/img/folder.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
    }
  }

  &__buttons {
    width: 140px;
    display: flex;
    justify-content: flex-end;;
    align-items: center;

    > * {
      margin-left: 20px;
    }
  }

  &__look {
    display: block;
    width: 25px;
    height: 25px;
    background: none;
    background-image: url("../../assets/img/look.svg");
    background-size: contain;
  }

  &__remove {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    background-image: url("../../assets/img/trash.svg");
    background-size: contain;
    cursor: pointer;
    transition: all .3s ease;
  }

  &__restore {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    background-image: url("../../assets/img/restore.svg");
    background-size: contain;
    cursor: pointer;
  }
}

@media(max-width: 1199px) {

  .categories-item {

    &__nav {
      width: 150px;
    }
  }
}

@media(max-width: 575px) {

  .categories-item {

    &__title {
      width: 90%;
    }

    &__buttons {
      width: 115px;

      > * {
        margin-left: 10px;
      }
    }

    &__nav {
      width: 110px;
    }
  }
}