.category {

  &-bar {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid #d0d0d0 2px;
  }

  &__category {
    position: relative;
    width: 50%;
    padding-left: 40px;

    &:before {
      position: absolute;
      top: -2px;
      left: 0;
      width: 25px;
      height: 25px;
      background-image: url("../../assets/img/folder.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
    }
  }

  &__edit {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: none;
    outline: none;
    background: none;
    background-image: url("../../assets/img/edit.svg");
    background-size: contain;
    cursor: pointer;
    transition: all .3s ease;
  }

  &__remove {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    background-image: url("../../assets/img/trash.svg");
    background-size: contain;
    cursor: pointer;
    transition: all .3s ease;
  }

  &-notes {

    &__item {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      margin-bottom: 20px;

      &:not(:last-child) {
        border-bottom: solid #cecece 1px;
      }
    }

    &__title,
    &__text,
    &__category {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__title {
      width: 20%;
    }

    &__text {
      width: 30%;
    }

    &__nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 30%;
    }

    &__category {
      position: relative;
      width: 50%;
      padding-left: 40px;
      text-decoration: none;

      &:before {
        position: absolute;
        top: -2px;
        left: 0;
        width: 25px;
        height: 25px;
        background-image: url("../../assets/img/folder.svg");
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
      }
    }

    &__buttons {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      > * {
        margin-left: 20px;
      }
    }

    &__favourite {
      width: 25px;
      height: 25px;
      border: none;
      outline: none;
      background: none;
      background-image: url("../../assets/img/star.svg");
      background-size: contain;
      cursor: pointer;
      transition: all .3s ease;

      &.active {
        background-image: url("../../assets/img/star-active.svg");
      }
    }

    &__look {
      display: block;
      width: 25px;
      height: 25px;
      background: none;
      background-image: url("../../assets/img/look.svg");
      background-size: contain;
    }

    &__remove {
      width: 25px;
      height: 25px;
      border: none;
      outline: none;
      background: none;
      background-image: url("../../assets/img/trash.svg");
      background-size: contain;
      cursor: pointer;
      transition: all .3s ease;
    }
  }
}