.modal-message {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 40px;
  background: #4b4b4b;
  text-align: center;
  color: #ffc107;
  z-index: 999;
}

.modal-form {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
}

@media(max-width: 991px) {

  .modal-message {
    left: 50%;
    right: inherit;
    transform: translateX(-50%);
    width: 100%;
  }
}