.notes-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 25px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  &:not(:last-child) {
    border-bottom: solid #cecece 1px;
  }

  &__title,
  &__text,
  &__category {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    width: 20%;
  }

  &__text {
    width: 30%;

    > * {
      padding-bottom: 5px;
      margin: 0;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      font-size: 16px !important;
      font-weight: normal;
    }
  }

  &__status {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;

    &.active {
      background-image: url("../../assets/img/clock-active.svg");
    }

    &.expired {
      background-image: url("../../assets/img/clock-expired.svg");
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }

  &__category {
    position: relative;
    width: 50%;
    padding-left: 40px;
    text-decoration: none;

    &:before {
      position: absolute;
      top: -2px;
      left: 0;
      width: 25px;
      height: 25px;
      background-image: url("../../assets/img/folder.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
    }
  }

  &__buttons {
    width: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > * {
      margin-left: 20px;
    }
  }

  &__favourite {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    background-image: url("../../assets/img/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .3s ease;

    &.active {
      background-image: url("../../assets/img/star-active.svg");
    }
  }

  &__look {
    display: block;
    width: 25px;
    height: 25px;
    background: none;
    background-image: url("../../assets/img/look.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__remove {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    background-image: url("../../assets/img/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .3s ease;
  }

  &__restore {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    background-image: url("../../assets/img/restore.svg");
    background-size: contain;
    cursor: pointer;
  }
}

@media(max-width: 1199px) {

  .notes-item {

    &__text {
      display: none;
    }

    &__category {
      display: none;
    }

    &__nav {
      width: 150px;
    }
  }
}

@media(max-width: 575px) {

  .notes-item {

    &__title {
      width: 90%;
    }

    &__status {
      display: none;
    }

    &__buttons {
      width: 115px;

      > * {
        margin-left: 10px;
      }
    }

    &__nav {
      width: 110px;
    }
  }
}