.note {

  &-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid #d0d0d0 2px;
  }

  &__category {
    position: relative;
    width: 50%;
    padding-left: 40px;

    &:before {
      position: absolute;
      top: -2px;
      left: 0;
      width: 25px;
      height: 25px;
      background-image: url("../../assets/img/folder.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
    }
  }

  &__edit {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: none;
    outline: none;
    background: none;
    background-image: url("../../assets/img/edit.svg");
    background-size: contain;
    cursor: pointer;
    transition: all .3s ease;
  }

  &__remove {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    background-image: url("../../assets/img/trash.svg");
    background-size: contain;
    cursor: pointer;
    transition: all .3s ease;
  }

  &__status {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;

    &.active {
      background-image: url("../../assets/img/clock-active.svg");
    }

    &.expired {
      background-image: url("../../assets/img/clock-expired.svg");
    }
  }
}