.popup {

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 50px;
    background: rgb(66, 66, 66);
    box-shadow: 2px 6px 24px -8px rgba(0, 0, 0, 0.75);
  }

  &__title {
    font-size: 30px;
    color: #fff;
    text-align: center;
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../../assets/img/close.svg");
    background-size: contain;
    transition: .7s ease;

    &:hover {
      transform: rotate(360deg);
    }
  }

  & .note-popup {
    width: 500px;

    .form {

      .form-group {

        &:first-child {

          .form__title {
            width: 100%;

            label,
            input {
              width: 100%;
            }
          }
        }

        &:nth-child(2) {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .form__select,
          .form__date {
            width: 48%;

            label,
            input,
            select {
              width: 100%;
            }
          }
        }

        &:nth-child(3) {

          .form__text {
            width: 100%;

            textarea {
              width: 100%;
              min-height: 100px;
              max-height: 300px;
              resize: vertical;
            }
          }
        }
      }
    }
  }

  & .category-popup {
    width: 500px;

    .form {

      .form-group {

        .form__title {
          width: 100%;

          label,
          input {
            width: 100%;
          }
        }
      }
    }
  }
}