.menu-bottom {

  &__title {
    padding-left: 20px;
    text-transform: uppercase;
    color: #6b6b6b;
  }

  &__add-category {
    position: relative;
    display: block;
    padding: 10px 20px 10px 50px;
    color: $sidebar-color;
    text-decoration: none;
    transition: all .3s ease;

    &:hover {
      background: #2d2d2d;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-image: url("../../assets/img/plus.svg");
      background-size: contain;
      background-position: center;
      content: '';
    }
  }
}

.menu-categories {
  list-style: none;
  padding: 0;

  > li {

    > a {
      position: relative;
      display: block;
      padding: 10px 20px 10px 50px;
      color: $sidebar-color;
      text-decoration: none;
      transition: all .3s ease;

      &:hover {
        background: #2d2d2d;
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url("../../assets/img/folder.svg");
        background-size: contain;
        background-position: center;
        content: '';
      }
    }
  }
}