.nav-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #2d2d2d;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background: #6b6b6b;
    }

    i {
      width: 20px;
      height: 20px;
      background-size: cover;
    }

    &:first-child {

      i {
        background-image: url("../../assets/img/add-note.svg");
      }
    }

    &:nth-child(2) {

      i {
        background-image: url("../../assets/img/add-category.svg");
      }
    }
  }

  &__brand {
    display: flex;
    width: 100%;

    img {
      width: 40px;
      height: 40px;
    }

    h1 {
      margin-left: 10px;
      font-size: 25px;
      color: #e6e6e6;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
  }
}

@media(max-width: 1199px) {

  .nav-top {

    &__brand {

      h1 {
        font-size: 24px;
      }
    }
  }
}

@media(max-width: 767px) {

  .nav-top {
    justify-content: flex-start;
    padding-left: 0;

    &__brand {
      display: none;
    }

    &__buttons {
      margin-top: 0;
    }
  }
}