.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid #4b4b4b 1px;
  padding: 20px;
  margin-top: auto;
  text-align: center;

  &__theme {
    display: flex;
    justify-content: center;

    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #2d2d2d;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background: #6b6b6b;
    }

    i {
      width: 20px;
      height: 20px;
      background-image: url("../../assets/img/night.svg");
      background-size: cover;
    }

    &.dark {

      i {
        background-image: url("../../assets/img/sun.svg");
      }
    }
  }
}