@import "nav-top";
@import "main-nav";
@import "nav-bottom";

.notebook {

  &-sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: $sidebar-bg;
    color: $sidebar-color;
  }
}