.notes {

  &__container {
    margin-top: 25px;
  }

  &__no-notes {
    display: flex;
    align-items: center;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__title,
    &__text,
    &__category {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__title {
      width: 20%;
    }

    &__text {
      width: 30%;
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30%;
    }

    &__category {
      position: relative;
      width: 50%;
      padding-left: 40px;

      &:before {
        position: absolute;
        top: -2px;
        left: 0;
        width: 25px;
        height: 25px;
        background-image: url("../../assets/img/folder.svg");
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
      }
    }

    &__buttons {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__favourite {
      width: 25px;
      height: 25px;
      border: none;
      outline: none;
      background: none;
      background-image: url("../../assets/img/star.svg");
      background-size: contain;
      cursor: pointer;
      transition: all .3s ease;

      &.active {
        background-image: url("../../assets/img/star-active.svg");
      }
    }

    &__look {
      display: block;
      width: 25px;
      height: 25px;
      background: none;
      background-image: url("../../assets/img/look.svg");
      background-size: contain;
    }

    &__remove {
      width: 25px;
      height: 25px;
      border: none;
      outline: none;
      background: none;
      background-image: url("../../assets/img/trash.svg");
      background-size: contain;
      cursor: pointer;
      transition: all .3s ease;
    }
  }
}