.trash {

  &__container {
    margin-top: 25px;
  }

  &__notes,
  &__categories {
    padding-top: 25px;
  }

  &__notes,
  &__categories {
    border-top: solid #d0d0d0 2px;

    .notes__items {
      margin-top: 25px;
    }
  }

  &__clean {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    border: none;
    border-bottom: solid #6b6b6b;
    border-radius: 10px;
    outline: none;
    background: #d2d2d2;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background: #c4c4c4;
    }

    i {
      width: 20px;
      height: 20px;
      background-image: url("../../assets/img/clean.svg");
      background-size: cover;
    }
  }

  .notes-item__nav {
    justify-content: flex-end;
  }
}