.notebook {
  height: 100vh;
  overflow-y: hidden;

  &__container {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
  }

  &.dark-theme {
    transition: all .3s ease;

    .notes {
      color: #fff;
    }

    .notebook-content {
      background: #4b4b4b;
      color: #fff;

      .about {

        a {
          color: #ffc107;
        }
      }
    }

    label {
      color: #fff !important;
    }
  }
}

@media(max-width: 767px) {

  .notebook {

    &__container {
      flex-direction: column;
    }
  }
}